---
layout: default
---
<section class="hero grid push">
  <div class="unit unit-xs-1 unit-s-1 unit-m-1 unit-l-1 text-center">
    <h2>Vanemmerik <span class="hero-subtitle">Producties</span></h2>
    <p>Woooow</p>
  </div>

</section>


<section class="portfolio grid">

  <div class="unit unit-xs-1 unit-s-1 unit-m-1 unit-l-1">
    <h2 class="section-title">Recent werk</h2>
  </div>

  <ul class="unit unit-xs-1 unit-s-1 unit-m-1 unit-l-1">
    {% for post in site.categories.video limit:10 %}
    <li>
      <a href="{{site.baseurl}}{{post.url}}">{{post.title}}</a>
      <div><iframe src="{{post.video}}" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe></div>
    </li>
    {% endfor %}
  </ul>

</section>

<section class="partners grid">
  <h2 class="section-title">Partners</h2>
  <ul>
  {% for post in site.categories.logo %}
    <li><a href="{{post.site-link}}">{{post.image}}</a></li>
  {% endfor %}
  </ul>
</section>
