---
layout: default
---
<section id="over" class="hero grid push">

  <div class="unit unit-xs-1 unit-s-1 unit-m-1 unit-l-1 gutter text-center">
    <h2>Vanemmeri<span class="last-letter">k</span> <span class="hero-subtitle">Productie<span class="last-letter">s</span></span></h2>
    <p class="push-2">Professionele filmmaker en cameraman. Neem contact met me op om samen te kijken of ik iets voor je kan betekenen.</p>
  </div>

</section>


<section id="recent-werk" class="grid">

  <div class="unit unit-xs-1 unit-s-1 unit-m-1 unit-l-1 gutter">
    <h2 class="section-title">Recent werk</h2>
  </div>


</section>

<ul id="og-grid" class="og-grid">
  {% for post in site.categories.video limit:10 %}
  <li>
    <a href="#" data-title="{{post.title}}" data-largesrc="{{post.video}}">
      <img src="assets/images/video-thumbnails/{{post.thumbnail}}" alt="{{post.title}} video">
    </a>

    <div class="og-expander">
      <div class="og-expander-inner">
        <span class="og-close"></span>
        <div class="og-fullvideo">
          <div class="og-loading"></div>
          <iframe src="{{post.video}}" class="video" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
        </div>
        <div class="og-details">
          <!-- <h3>{{post.title}}</h3> -->
        </div>
      </div>
    </div>
  </li>
  {% endfor %}
</ul>

  <!-- <ul class="unit unit-xs-1 unit-s-1 unit-m-1 unit-l-1 grid portfolio-grid">
    {% for post in site.categories.video limit:10 %}
    <li>
      <a href="{{site.baseurl}}{{post.url}}">{{post.title}}</a>
      <div><iframe src="{{post.video}}" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe></div>
    </li>
    {% endfor %}
  </ul> -->


<section id="partners" class="partners grid">

  <div class="unit unit-xs-1 unit-s-1 unit-m-1 unit-l-1 gutter">
    <h2 class="section-title">Partners</h2>
  </div>

  <ul>
  {% for post in site.categories.logo %}
    <li><a href="{{post.site-link}}">{{post.image}}</a></li>
  {% endfor %}
  </ul>

</section>
