<nav class="nav unit unit-xs-1 unit-s-1 unit-m-2-3 unit-l-2-3 {{include.nav-class}}">
  <ul>
    <li><a href="{{site.baseurl}}/index.html" class="{% if page.url == '/' %}current{% endif %}">Hom<span class="last-letter">e</span></a></li>
    <li><a href="{{site.baseurl}}/about.html" class="{% if page.url == '/about.html' %}current{% endif %}">Abou<span class="last-letter">t</span></a></li>
    <li><a href="{{site.baseurl}}/#" class="{% if page.url == '/contact.html' %}current{% endif %}">Contac<span class="last-letter">t</span></a></li>
  </ul>
</nav>
