<nav class="nav unit unit-xs-1 unit-s-1 unit-m-2-3 unit-l-2-3 {{include.nav-class}}">
  <ul>
    <li><a href="{{site.baseurl}}/#over" class="{% if page.url == '/' %}current{% endif %}">Ove<span class="last-letter">r</span></a></li>
    <li><a href="{{site.baseurl}}/#recent-werk" class="{% if page.url == '/about.html' %}current{% endif %}">Wer<span class="last-letter">k</span></a></li>
    <li><a href="{{site.baseurl}}/#partners" class="{% if page.url == '/contact.html' %}current{% endif %}">Partner<span class="last-letter">s</span></a></li>
  </ul>
</nav>
