@-moz-viewport
  width: device-width
  scale: 1
@-ms-viewport
  width: device-width
  scale: 1
@-o-viewport
  width: device-width
  scale: 1
@-webkit-viewport
  width: device-width
  scale: 1
@viewport
  width: device-width
  scale: 1

html
  box-sizing: border-box
  -moz-text-size-adjust: 100%
  -ms-text-size-adjust: 100%
  -webkit-text-size-adjust: 100%
  text-size-adjust: 100%
  margin: 0
  padding: 0

*, *::before, *::after
  box-sizing: inherit

*::selection
  background: $link-color

a::selection, a .last-letter::selection
  color: #fff

body
  margin: 0
  padding: 0

.flex
  display: block
  width: 100%

.relative
  position: relative

// Header

.masthead
  text-align: center
  margin-top: 1.3em

.logo-container
  margin-bottom: 1.3rem

.logo
  margin-top: 1.4rem
  text-transform: uppercase
  font-size: 0
  font-weight: 400
  letter-spacing: .2em
  height: 50px
  background:
    image: url(../assets/images/logo-ve.svg)
    repeat: no-repeat
    position: center
    size: contain

a
  color: $link-color
  text-decoration: none
  letter-spacing: .2em
  text-transform: uppercase
  font-weight: 900

.last-letter
  letter-spacing: normal

.nav
  padding: 0
  margin: 0
  ul
    padding: 0
  li
    list-style-type: none
    margin-bottom: 1.3rem
    font-size: $peta-font-size
    line-height: 1

.nav a
  overflow: hidden
  display: inline-block
  position: relative
  &:before
    content: ""
    position: absolute
    height: 5px
    background-color: $base-font-color
    width: 100%
    top: 45%
    left: 0
    transform: translateY(-50%) translateX(-101%)
    transition: transform 400ms
    transition-timing-function: cubic-bezier(.7,0,.3,1)
  &:hover::before
    transform: translateY(-50%) translateX(0)

  &:after
    content: ""
    position: absolute
    height: 5px
    background-color: #eee
    width: 100%
    top: 55%
    left: 0
    transform: translateY(-50%) translateX(101%)
    transition: transform 400ms
    transition-timing-function: cubic-bezier(.7,0,.3,1)
  &:hover:after
    transform: translateY(-50%) translateX(0)


// Hero section

.hero
  color: #fff
  background:
    image: url(../assets/images/city-background-1.jpg)
    repeat: no-repeat
    position: center
    size: cover
  h2
    text-transform: uppercase
    letter-spacing: .2rem
    margin-top: 1.3em
    background-color: $link-color

.hero-subtitle
  font-weight: 100
  display: block
  letter-spacing: .8rem
  font-size: $mega-font-size
  line-height: $mega-line-height
  background-color: $base-font-color

.partners ul
  list-style-type: none


// Sections

.section-title
  display: inline-block
  padding: 0 0 10px
  letter-spacing: .2em
  text-transform: uppercase
  position: relative
  font-size: $tera-font-size
  line-height: $tera-line-height
  &::before
    content: ""
    display: block
    position: absolute
    bottom: 0
    left: 0
    height: 5px
    width: 40px
    background-color: $link-color

.portfolio-grid
  li
    list-style-type: none


@media only screen and (min-width: 25em)


@media only screen and (min-width: 38em)

  .masthead
    margin-top: 1.4em

  .logo-container
    margin-bottom: 0

  .nav
    position: relative
    text-align: right
    ul
      position: absolute
      padding-right: 1.4em
      top: 50%
      left: 50%
      transform: translate(-50%, -50%)
      width: 100%
    li
      display: inline-block
      margin-bottom: 0
      font-size: $mega-font-size
      &:first-child a
        margin-left: 0
      &:last-child a
        margin-right: 0
    a
      margin: 0 .65em




@media only screen and (min-width: 60em)

  .masthead
    margin-top: 1.5em

  .nav
    ul
      padding-right: 1.5em
