<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>VANEMMERIK Producties</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,400i,700,700i" rel="stylesheet">
  <link href="{{site.baseurl}}/css/main.css" rel="stylesheet">
</head>
<body>

  <header class="masthead grid">
    <div class="unit unit-xs-1 unit-s-1 unit-m-1-3 unit-l-1-3">
      {% if page.url == '/' %}<h1 class="peta logo">Vanemmerik</h1>{% else %}<p class="peta logo"><strong>Vanemmerik</strong></p>{% endif %}
    </div>
    {% include nav.html nav-class='primary-nav' %}
  </header>

{{content}}

</body>
</html>
